.fees-table {
    border-collapse: collapse;
    border-color: beige; ;
    width: 100%;
    color: rgb(255, 255, 255);
    font-size: 15px;
}

.fees-table th, .fees-table td {
    border: 1px solid beige;
    padding: 8px;
    text-align: center;
}

