@import "tailwindcss";

@theme {
  --color-primary-50: var(--color-green-50);
  --color-primary-100: var(--color-green-100);
  --color-primary-200: var(--color-green-200);
  --color-primary-300: var(--color-green-300);
  --color-primary-400: var(--color-green-400);
  --color-primary-500: var(--color-green-500);
  --color-primary-600: var(--color-green-600);
  --color-primary-700: var(--color-green-700);
  --color-primary-800: var(--color-green-800);
  --color-primary-900: var(--color-green-900);

  --color-secondary-50: #fffef0;
  --color-secondary-100: #fffbdd;
  --color-secondary-200: #fff6bb;
  --color-secondary-300: #ffed88;
  --color-secondary-400: #ffe455;
  --color-secondary-500: #ffd700;
  --color-secondary-600: #dab500;
  --color-secondary-700: #b89400;
  --color-secondary-800: #957300;

  --color-dark-50: rgba(0, 0, 0, 0.05);
  --color-dark-100: rgba(0, 0, 0, 0.1);
  --color-dark-200: rgba(0, 0, 0, 0.2);
  --color-dark-300: rgba(0, 0, 0, 0.3);
  --color-dark-400: rgba(0, 0, 0, 0.4);
  --color-dark-500: rgba(0, 0, 0, 0.5);
  --color-dark-600: rgba(0, 0, 0, 0.6);
  --color-dark-700: rgba(0, 0, 0, 0.7);
  --color-dark-800: rgba(0, 0, 0, 0.8);
  --color-dark-900: rgba(0, 0, 0, 0.9);
}
