

.workshops-heading {
    font-size: 2.5rem;
    text-align: center;
    color: #fff;
    margin: 20px 0;
    position: relative;
}

.workshops-heading::before,
.workshops-heading::after {
    content: "";
    position: absolute;
    top: 50%;
    width: 35%;
    height: 2px;
    background-color: #fff;
}

.workshops-heading::before {
    left: 0;
}

.workshops-heading::after {
    right: 0;
}

.btn.btn-primary {
    background-color: #b98f5e;
    color: #000000;
    border-radius: 40px;
    width: 300px;
    text-align: center;
    font-size: 1.2rem;
    font-weight: bold;
    padding: 10px 20px;
    margin-bottom: 40px;
    margin-top: 40px;
}

.btn.btn-primary:hover {
    background-color: rgb(64, 64, 64);
    color: #fff;
}

.ul,.ol {
    text-align: left;
    padding-left: 170px;
    padding-right: 150px;
    padding-top: 20px;
    padding-bottom: 30px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

}

.ul.special-padding {
    padding-left: 500px;
}

.tinted {
    width: 90%;
    margin: 20px auto;
    padding: 20px;
    background: linear-gradient(to bottom, #0000009d, #0000009d);
    border-radius: 30px;
    text-align: center;
    color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.workshop-intro {
    padding-left: 200px;
    padding-right: 200px;
    text-align: center;
}

.wrap-list {
    margin-top: 40px !important;
}

.wrap-list ul {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    height: 800px;
    align-items: flex-start;
}

.wrap-list li {
    margin-right: 50px;
    margin-left: 150px;
}

.flex-wrap {
    padding: 10px 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 100px;
}

@media (max-width: 1200px) {
    .ul {
        padding-left: 100px;
        padding-right: 150px;
    }

    .ul.special-padding {
        padding-left: 500px;
    }
}

@media (max-width: 768px) {
    .workshops-heading {
        font-size: 1.8rem;
    }

    .workshops-heading::before,
    .workshops-heading::after {
        width: 25%;
        height: 1.5px;
    }

    .btn.btn-primary {
        width: 250px;
        font-size: 1rem;
        padding: 8px 16px;
    }

    .ul {
        padding-left: 50px;
        padding-right: 50px;
    }

    .ul.special-padding {
        padding-left: 350px;
    }

    .workshop-intro {
        padding-left: 50px;
        padding-right: 50px;
    }

    .wrap-list li {
        margin-right: 20px;
        margin-left: 20px;
    }
}

@media (max-width: 480px) {
    .workshops-heading {
        font-size: 1.5rem;
    }

    .workshops-heading::before,
    .workshops-heading::after {
        width: 20%;
        height: 1.2px;
    }

    .btn.btn-primary {
        width: 200px;
        font-size: 0.9rem;
        padding: 6px 12px;
        margin-bottom: 20px;
        margin-top: 20px;
    }

    .ul {
        padding-left: 50px;
        padding-right: 20px;
    }

    .ul.special-padding {
        padding-left: 50px;
    }

    .workshop-intro {
        padding-left: 20px;
        padding-right: 20px;
    }

    .wrap-list li {
        margin-right: 0;
        margin-left: 0;
    }
}






